@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background: rgb(209, 198, 198);
    height: 100%;
    width: 55vh;
    margin:15px;
    border-radius:15px;
   

}

.country img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top:15px;
    border-radius:9px;
    border: black solid 1px;
}
.img {
    height: 200px;;
    width: 300px;
    object-fit: cover;
}
.country p {
    font-family:'Inconsolata', monospace;
    margin: 5px;
    font-size: 18px;
}

